@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@300;400;500&display=swap');


.containerCal {
    display: flex;
    justify-content: left;
    align-items: center;
    

}

.calendario {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 300px;
    height: 300px;
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.3);
}

.headerCal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    font-family: 'Poppins',
        sans-serif;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: rgb(138, 184, 252);
}

.mes{
    margin-bottom: 0;
    padding-top: 10px;
}

.today {
    margin-top: 0;
}

.flecha {
    cursor: pointer;
    align-items: center;
    padding-top: 20px;
}

.header-fechas {
    flex-direction: column;
}

.mesYear {
    font-size: 23px;
    margin-bottom: 3px;
    display: block;

}

.today {
    font-size: 12px;
    display: inline;

}

.diasSemana {
    font-size: 15px;
    height: 10px;
    display: flex;
    align-items: center;
    padding: 13px;
    justify-content: space-between;
}



.dias {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    height: 175px;
    border-radius: 0px 0px 20px 20px;
    background-color: rgba(86, 121, 216, 0.11);

}

.dias div {
    font-size: 15px;
    width: calc(270px/7);
    display: flex;
    text-align: center;
    color: rgb(26, 21, 21);
    align-items: center;
    padding-left: 12px;
    padding-right: 10px;
    justify-content: center;

}

.dias div:hover:not(.hoy) {
    background-color: #8a8ef391;
    cursor: pointer;
}

/*otro color*/
.dias div:hover:not(.hoy) {
    background-color: #8abbf391;
    cursor: pointer;
}


.dias-previos,
.dias-siguientes {
    opacity: 0.2;
    color: rgb(85, 84, 84);
}



.hoy {
    background-color: #8acdf3;
}

#lista {
    display: none;
}