/* body{
    font-family: sans-serif;
    background-image: url("/antonella/Frame-174.jpg"); 
    background-position: center;
    
    background-repeat: no-repeat;
    background-repeat: repeat-x, no-repeat;
    background-repeat: repeat-y, no-repeat;
    

} */
.cabeza{
    background-color:rgb(252,241,255);
    border-radius: 15px;
}
.ficha{
    background-color:rgb(241,243,255);
    border-radius: 0px 15px 15px 0px;
}
.datos{
    background-color:rgb(247,244,253);
    border-radius: 15px 0px 0px 15px;
   
}
.reg{
    background-color:rgb(183,195,255);
    color:black;
    /* font-weight: bold; */
    border: 2px solid #8BE9E1;
    padding: 10px;
    border-radius: 2em 1em 4em / 0.5em 3em;
  }
  .nombre{
      font-size: 2rem;
      font-weight:500;
  }
  .personal{
      font-size: 1.1rem;
  }
  .bordes{
    border-bottom: 6px solid rgb(232,234,237);
  }

  footer{
    background-color: rgb(241,243,255);
  color: black;
  text-decoration: none;
  font-size: 1rem;
}
.vr{
   height: 10em;
  }
