@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

.section1 {
  background-image: url(../img/banner.jpg);
}
.section2 {
  background-image: url(../img/Section-0.jpg);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 1.5rem;
}

.navbar.nav2 .navbar-brand,
.navbar-nav .nav-link {
  color: black;
  font-size: 1.5rem;
}

h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}
.texto1 {
  color: white;
  font-size: 20px;
}

/* .reg {
  background-color: brown;
} */

.titulo {
  color: white;
  font-size: 3.5rem;
  font-family: "Noto Sans", sans-serif;
}
.titulonegro {
  color: black;
  font-size: 2.5rem;
  font-family: "Noto Sans", sans-serif;
}
.texto2 {
  color: black;
  font-size: 20px;
}
.reg {
  
  color: #301c6b;
  font-weight: bold;
  background-image: linear-gradient(to right, #8BE9E1 0%, #c5f8f4 51%, #8BE9E1 100%);
  

}
.reg:hover{
  background-position: right center;
  
  text-decoration: none;
}
.ing {
  color: #8be9e1;
  font-weight: bold;
}
.card1 {
  background-color: rgb(247, 244, 253);
}
.card2 {
  background-color: rgb(252, 241, 255);
}
.card3 {
  background-color: rgb(243, 243, 255);
}

footer, footer a, footer a:link, footer, a:visited{
  background-color: rgb(93,33,210);
  color: white;
  text-decoration: none;
}
.modal-content {
  background-color: rgb(241, 243, 255);
}
.footer-social li {
  list-style: none;
  display: inline;
}
.fondo {
  background-color: #585ce5;
}
.navbar.navbar.nav2 {
  background-color: transparent;
  color: black;
}
.contactotitulo{
  color: rgb(49,136,216);
  font-weight: bold;
}
.contactonormal{
  color: rgb(49,136,216);
}
.fondocontacto{
  background-color:  rgb(247,246,254);
  border-radius: 10px;
}

.boton {
  background-image: linear-gradient(to right, #0088D8 0%, #949bfd 51%, #0088D8 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px rgb(238, 238, 238);
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.boton:hover {
  background-position: right center;
  color: black;
  text-decoration: none;
}