@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-image: url("../img/Group6.png");
    width: 100%;
    top:0;
    position: absolute;
    left: 0px;
    background-repeat: no-repeat;


}

/*------NAVBAR------*/

#nav-bar{
    /*position: sticky;*/
    top:0;
    z-index: 10;
    padding-left: 30px;
}

/*Titulo*/
.navbar-brand{
    font-family: 'Poppins',
    sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
}

.logo-navbar{
    width: 40px; 
}


/*Fonts links*/
.navbar-nav{
    padding-right: 40px;
    font-family: 'Roboto',
    sans-serif;
    font-size: 18px;
}

/*Espacio entre links*/
.navbar-nav li{
    padding: 0 10px;
}


/*Titulo pag*/
.titulo{
    font-family: 'Poppins';
    font-weight: bold;
    color: black;
}

/*Boton guardar*/
.btn{
    background-color: rgb(84, 193, 251);
}


