.altura{
    height: 30rem;
}


.circulo{
    
    
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    width: 130px;
    height: 130px;
}
.circulo1{
    background: rgb(196,217,243);
}
.circulo2{
    background: rgb(254,233,191);
}
.circulo3{
    background: rgb(243,211,212);
}
.circulop{
    background: rgb(241,243,255);
    border-radius: 15px 50px;
}
.parrafo{
    font-size: 1.1rem;
}
.reg{
    background-color:#8BE9E1;
    color:black;
    font-weight: bold;
    border: 2px solid #8BE9E1;
    padding: 10px;
    border-radius: 2em 1em 4em / 0.5em 3em;
  }

  .nobtn{
    border: none;
    background-color: transparent;
}

footer{
    background-color: rgb(241,243,255);
  color: black;
  text-decoration: none;
  font-size: 1rem;
}
