@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans" , sans-serif;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #89c0ff #b9d9fd;
}


/* Background*/


body {
  background: rgb(197, 200, 254);
  background: linear-gradient(180deg, rgb(164, 187, 252) 1%, rgb(194, 235, 253) 35%, rgba(255, 255, 255, 1) 100%);
  background-repeat: no-repeat;
}


/*------NAVBAR------*/

#nav-bar {
  top: 0;
  z-index: 10;
  padding-left: 30px;
}

/*Titulo*/
.navbar-brand {
  font-family: 'Poppins',
  sans-serif;
  font-weight: bold;
  font-size: 25px;
  padding-left: 20px;
}

.logo-navbar {
  width: 35px;
}


/*Fonts links*/
.navbar-nav {
  padding-right: 40px;
  font-family: 'Roboto',
    sans-serif;
  font-size: 18px;

}

/*Espacio entre links*/
.navbar-nav li {
  padding: 0 15px;
}



.sectionindex{
  /* background-color:rgb(254,245,228); */
  background: rgb(197, 200, 254);
  background: linear-gradient(180deg, rgb(164, 187, 252) 1%, rgb(194, 235, 253) 35%, rgba(255, 255, 255, 1) 100%);
  background-repeat: no-repeat;

}
.cuadro{
  background-color: rgb(122,205,52);
  color: white;
}

.tarjeta{
  background-color: rgb(193,193,233);
}
.tituloblanco{
  color:black;
}
.bordes{
  border-radius: 2rem;
}
footer {
  background-color: rgb(241, 243, 255);
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.card:hover {
  transform: scale(1.04);
}

.reg {
  background-color: #8BE9E1;
  color: black;
  font-weight: bold;
  border: 2px solid #8BE9E1;
  padding: 10px;
  border-radius: 2em 1em 4em / 0.5em 3em;
}