@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #89c0ff #b9d9fd;
}


/* Background*/


/* body {
    background: rgb(197, 200, 254);
    background: linear-gradient(180deg, rgb(164, 187, 252) 1%, rgb(194, 235, 253) 35%, rgba(255, 255, 255, 1) 100%);
    background-repeat: no-repeat;
} */
body{
    background-image: url(../img/Section-0.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*------NAVBAR------*/

#nav-bar {
    top: 0;
    z-index: 10;
    padding-left: 30px;
}

/*Titulo*/
.navbar-brand {
    font-family: 'Poppins',
        sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
}

.logo-navbar {
    width: 35px;
}


/*Fonts links*/
.navbar-nav {
    padding-right: 40px;
    font-family: 'Roboto',
        sans-serif;
    font-size: 18px;

}

/*Espacio entre links*/
.navbar-nav li {
    padding: 0 15px;
}


table {
    background-color: rgb(190, 202, 255);
    border-radius: 15px, 15px, 15px, 15px;
}

.table-bordered tbody tr {
    border: 2px solid rgb(215, 222, 255);
}

.table-bordered thead tr th {
    border: 2px solid rgb(215, 222, 255);
}

.boton-editar {
    background-image: linear-gradient(to right, #6190E8 0%, #7da0ff 51%, #74a0f1 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    border-radius: 10px;
    display: block;
    border-color: #949bfd;
}

.boton-editar:hover {
    background-position: right center;
    color: black;
    text-decoration: none;
}

.boton-baja {
    background-image: linear-gradient(to right, #e86161 0%, #ff7d7d 51%, #f17474 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    border-radius: 10px;
    display: block;
    border-color: #fd94ab;
}

.boton-baja:hover {
    background-position: right center;
    color: black;
    text-decoration: none;
}

.boton-alta {
    background-image: linear-gradient(to right, #61e883 0%, #7dff93 51%, #74f189 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    border-radius: 10px;
    display: block;
    border-color: #97fd94;
}

.boton-alta:hover {
    background-position: right center;
    color: black;
    text-decoration: none;
}

.boton-crear {
    background-image: linear-gradient(to right, #6190E8 0%, #949bfd 51%, #6190E8 100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 20px rgb(238, 238, 238);
    border-radius: 10px;
    display: block;
    border-color: #949bfd;
    width: 250px;
}

.boton-crear:hover {
    border-color: #828aff;
    background-position: right center;
    color: black;
    text-decoration: none;

}

.reg {
    background-color: #8BE9E1;
    color: black;
    font-weight: bold;
    border: 2px solid #8BE9E1;
    padding: 10px;
    border-radius: 2em 1em 4em / 0.5em 3em;
}

.nobtn {
    border: none;
    background-color: transparent;
}

footer {
    background-color: rgb(241, 243, 255);
    color: black;
    text-decoration: none;
    font-size: 1rem;
    /* position:absolute;
    bottom:0; */
    
}

label{
    font-size: 19px;
    font-weight: 400;
}

.fondomodal {
    /* background-image: url("../img/Group6.png"); */
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    top: 0;
    position: absolute;
    left: 0px;
}