<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <img th:src="@{/img/logo-heart.png}" class="logo-navbar" width="34" height="28">
        <a class="navbar-brand ms-1" th:href="@{/inicio}">Hardy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav text-end">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registro}">Consultas</a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/agenda}">Agenda</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/documento}">Documentos</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="${session.imagen != null} ? @{/upload/__${session.imagen}__} : @{/upload/profile-1-1.png}"
                            alt="imagen de perfil" width="35" class=" rounded-circle mb-1">
                    </a>
                    <ul class="dropdown-menu text-end text-lg-start" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/perfil}">Mi cuenta</a></li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>

<div class="footer-espacio " th:fragment="footer">
<div class="espacio container-fluid p-5 mb-5">
</div>
<footer class="container-fluid  py-3 fixed-bottom mt-5">
    <div class="row ">

        <h6 class="col-12 text-center"><span><img th:src="@{/img/logo-heart.png}" class="logo-navbar" width="34"
                    height="28" /></span> Hardy</h6>

    </div>
</footer>
</div>

<!--Modal modificar correo-->
<div th:fragment="modificarCorreo" class="modal fade" id="editarCorreo" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar correo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/modificar-correo}" autocomplete="off" method="POST" class="needs-validation"
                    novalidate>
                    <input class="form-control" id="correo" placeholder="Correo" required type="email" name="correo"
                        th:value="${session.correo}">

                    <hr class="my-4">
                    <div class="modal-dialog-centered justify-content-center">
                        <button type="submit" value="Submit" class="btn reg">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal modificar contraseña-->
<div th:fragment="modificarContraseña" class="modal fade" id="editarClave" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar clave</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/clave}" autocomplete="off" method="POST" class="needs-validation" novalidate>
                    <input class="form-control mb-4" id="clave" placeholder="Contraseña" required type="password"
                        name="clave">

                    <input class="form-control" id="clave2" placeholder="Confirmacion" required type="password"

                        name="clave2">
                    <hr class="my-4">
                    <div class="modal-dialog-centered justify-content-center">
                        <button type="submit" value="Submit" class="btn reg">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>