<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hardy</title>
    <link rel="icon" href="../static/img/heartbeat-solid.svg">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!--Fontawesome icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-bar">
        <div class="container-fluid">
            <img src="../static/img/logo-heart.png" alt="logo-heart" class="logo-navbar">
            <a class="navbar-brand" href="#">Hardy.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ficha medica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Registro medico</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!--TARJETAS ESPECIALIDADES-->

    <div class="container pt-4 px-5 mb-3">
            <h1 class="pt-5 titulo">Especialidades</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 m-5 text-center">
        <div class="col-sm-6 col-lg-3">
            <div class="card bg-light text-dark shadow">
                <img src="../static/img/Doctor-cuate.svg" class="card-img-top img-fluid" alt="...">
                <h3 class="card-title m-3">
                    Kinesiología
                </h3>
                <a href="" class="btn btn-dark mb-4 mx-3">Ver registros</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card bg-light text-dark shadow">
                <img src="../static/img/Doctor-cuate.svg" class="card-img-top img-fluid" alt="...">
                <h3 class="card-title m-3">
                    Cardiologia
                </h3>
                <a href="" class="btn btn-dark mb-4 mx-3">Ver registros</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card bg-light text-dark shadow">
                <img src="../static/img/Doctor-cuate.svg" class="card-img-top img-fluid" alt="...">
                <h3 class="card-title m-3">
                    Odontologia
                </h3>
                <a href="" class="btn btn-dark mb-4 mx-3">Ver registros</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card bg-light text-dark shadow">
                <img src="../static/img/Doctor-cuate.svg" class="card-img-top img-fluid" alt="...">
                <h3 class="card-title m-3">
                    Nutrición
                </h3>
                <a href="" class="btn btn-dark mb-4 mx-3">Ver registros</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card bg-light text-dark shadow">
                <img src="../static/img/Doctor-cuate.svg" class="card-img-top img-fluid" alt="...">
                <h3 class="card-title m-3">
                    Clinico
                </h3>
                <a href="" class="btn btn-dark mb-4 mx-3">Ver registros</a>
            </div>
        </div>
    </div>

    <footer class="p-5 mt-5 text-black text-center position-relative fixed-bottom">
        <div class="container">
            <p class="lead">Copyright &copy; 2021 Hardy - Grupo 9</p>
            <a href="#" class="position-absolute bottom-0 end-0 p-5">
                <i class="bi bi-arrow-up-circle h1 arrow"></i>
            </a>
        </div>
    </footer>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

</body>

</html>