<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hardy</title>
  <link rel="icon" th:href="@{/img/heartbeat-solid.svg}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" th:href="@{/css/style-registro-vista.css}">
</head>

<body>
  <!-- Navbar -->

  <nav th:replace="fragmentos :: navbar"></nav>

  <div class="row justify-content-center">
    <div class="alert alert-secondary alert-dismissible fade show text-center col-5 tooltip" role="alert"
      th:if="${exito != null}">
      <strong th:text="${exito}"></strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="alert alert-warning alert-dismissible fade show text-center col-5 tooltip" role="alert"
      th:if="${error != null}">
      <strong th:text="${error}"></strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

  </div>

  <section class="container-fluid mt-5 mb-5">
    <div class="row">
      <div class="col-12 col-lg-5 px-4 px-lg-0 ps-lg-5 mb-5 mb-lg-0 me-0 me-lg-5 mt-2 ">

        <div class="row h-100 circulop lineas">

          <div class="col-12">
            <div class="row justify-content-center">
              <div class="col-6 text-center py-3">
                <img class="img-fluid" th:src="@{/inventarios.svg}" alt="" />
              </div>
            </div>
          </div>

          <div class="col-12 text-center">
            <h3>Gestioná tu historial médico</h3>
            <img class="img-fluid" th:src="@{/ornament-separador.8f2aa8ff6e.svg}" alt="" />
          </div>

          <div class="col-11 parrafo text-center">

            <p>
              Visualizá todos tus registros <a class="text-decoration-none link-info"
                th:href="@{/registro/ver-registros}">aquí</a> o seleccioná la especialidad que desees y obtené todo tu
              historial,
              tambien podés agregar nuevas consultas médicas y especialidades
            </p>
          </div>

          <div class="col-12 pb-5 pb-lg-0 text-center">
            <button type="button" class="btn col-6 reg py-3" data-bs-toggle="modal" data-bs-target="#registromedico">
              Nuevo registro
            </button>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 ">
        <div class="row overflow-auto altura">

          <div class="col-6 col-sm-4 col-lg-6 col-xl-4">
            <div class="row justify-content-center">
              <div class="col-12 py-5 text-center circulo estilo4">
                <button class="nobtn" data-bs-toggle="modal" data-bs-target="#agregarEspecialidad">
                  <img class="img-fluid" th:src="@{/img/Agregar.svg}" alt="" />
                </button>
              </div>
              <div class="col-12 mt-2 text-center">
                <p>Agregar nueva</p>
              </div>
            </div>
          </div>


          <div class="col-6 col-sm-4 col-lg-6 col-xl-4" th:each="especialidad : ${especialidades}">
            <div class="row justify-content-center">
              <div th:attr="class=|col-12 py-5 text-center circulo estilo${especialidad.id}|">
                <a class="text-decoration-none text-reset" th:href="@{registro/ver-registros/__${especialidad.id}__}">
                  <img class="img-fluid"
                    th:src="${especialidad.nombreImagen != null} ? @{/img/__${especialidad.nombreImagen}__} : @{/img/Agregar.svg}"
                    alt="" />
                </a>

              </div>
              <div class="col-12 mt-2 text-center">
                <p th:text="${especialidad.nombre}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->

   <footer th:replace="fragmentos :: footer"></footer> 

  <!-- Modal registro de consulta-->

  <div class="modal fade " id="registromedico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-fullscreen modal-dialog-scrollable ">
      <div class="modal-content fondomodal">
        <div class="modal-header">
          <h3 class="modal-title col-11 text-center" id="exampleModalLabel">Registrá tu consulta</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">

          <div class="container-fluid">
            <div class="row">
              <div class="col-6 d-none d-xl-block">
                <img th:src="@{/img/body-checkup.png}" alt="" class="img-fluid d-none d-sm-block">
              </div>

              <div class="col-12 col-xl-6 align-self-center">
                <form class="row g-5 needs-validation" th:action="@{/registro/guardar}" method="POST" novalidate>

                  <div class=" col-12 col-md-6">
                    <div class="form-floating">
                      <input required type="date" class="form-control border border-secondary" id="consulta"
                        name="fecha" placeholder="Fecha de la Consulta">
                      <label for="consulta" class="form-label">Fecha de la Consulta</label>
                    </div>
                  </div>

                  <div class=" col-12 col-md-6">
                    <div class="form-floating">
                      <select required aria-label="Elegir especialidad" class="form-select border border-secondary"
                        id="especialidad" name="especialidad">
                        <option selected value="">Seleccionar</option>
                        <option th:each="especialidad : ${especialidades}" th:text="|${especialidad.nombre}|"
                          th:if="${especialidad.alta}" th:value="${especialidad.id}">
                        </option>
                      </select>
                      <label for="especialidad">Especialidades:</label>
                    </div>
                  </div>


                  <div class="col-12 col-md-6">
                    <div class="form-floating">
                      <input required type="text" class="form-control border border-secondary" id="medico"
                        placeholder="Medico" name="medico">
                      <label for="medico">Médico</label>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-floating">
                      <input required type="text" class="form-control border border-secondary" id="cobertura"
                        placeholder="Cobertura" name="cobertura">
                      <label for="cobertura">Cobertura</label>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-floating">
                      <input required type="text" class="form-control border border-secondary" id="sede"
                        placeholder="Sede" name="lugar">
                      <label for="sede">Sede</label>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-floating">
                    <textarea required class="form-control border border-secondary" id="resultados"
                      name="resultados"  placeholder="resultados"></textarea>
                    <label for="resultados" class="form-label">Resultados</label>
                    </div>
                  </div>

                  <input type="hidden" value="/registro" name="ruta">
                  <!-- dirname="resultados.dir" form="registro" -->
                  <div class="col-12 col-lg-9 text-center text-xl-start">
                    <button type="submit" class="btn col-6 reg py-3">Agendar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- agregar especialidad -->
  <div class="modal fade" id="agregarEspecialidad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar especialidad personalizada</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form autocomplete="off" th:action="@{/especialidad/guardar}" method="POST" class="needs-validation"
            novalidate>
            <div class="form-floating">
            <input class="form-control" id="nombre" placeholder="Nombre" required type="text" name="nombre">
            <label for="nombre">Nombre de la especialidad</label>
            </div>
            <hr class="my-4">
            <div class="modal-dialog-centered justify-content-center">
              <button title="Guardar Especialidad" type="submit" value="Submit" class="btn reg">
                Agregar Especialidad
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal cambio de correo -->
  <div th:replace="fragmentos :: modificarCorreo"></div>

  <!-- Modal modificar contraseña -->

  <div th:replace="fragmentos :: modificarContraseña"></div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()
  </script>

</body>

</html>
