<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hardy</title>
    <link rel="icon" th:href="@{/img/heartbeat-solid.svg}">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!--Fontawesome icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" th:href="@{/css/styleSignup.css}">
    <link rel="stylesheet" th:href="@{/css/calendario.css}">
    <link rel="stylesheet" th:href="@{/css/turnos.css}">
</head>

<body>

    <nav th:replace="fragmentos :: navbar"></nav>

    <div class="row justify-content-center">
        <div class="alert alert-secondary alert-dismissible fade show text-center col-5 tooltip" role="alert"
            th:if="${exito != null}">
            <strong th:text="${exito}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="alert alert-warning alert-dismissible fade show text-center col-5 tooltip" role="alert"
            th:if="${error != null}">
            <strong th:text="${error}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    </div>


    <div class="container mt-5">
        <div class="row gy-5 gy-md-0">

            <!--Calendario-->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="containerCal container pt-5 mt-3">
                    <div class="calendario">
                        <div class="headerCal">
                            <i class="fas fa-chevron-left anterior flecha"></i>
                            <div class="header-fechas">
                                <p class="mes">
                                </p>
                                <p class="today">
                                </p>
                            </div>
                            <i class="fas fa-chevron-right siguiente flecha"></i>
                        </div>
                        <div class="diasSemana">

                            <div>Dom</div>
                            <div>Lun</div>
                            <div>Mar</div>
                            <div>Mie</div>
                            <div>Jue</div>
                            <div>Vie</div>
                            <div>Sab</div>

                        </div>
                        <div class="dias">


                        </div>

                    </div>
                </div>

                <div class="container pt-4">
                    <button type="button" class="btn boton col-5 mx-3 shadow " data-bs-toggle="modal"
                        data-bs-target="#agendarTurno">Agendar Turno</button>
                </div>
            </div>

            <!--Turnos-->
            <div class="col-12  col-lg-8">
                <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class=" nav-link active" id="mesCurso" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Turnos de este mes</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class=" nav-link" id="mesProximo" data-bs-toggle="pill" data-bs-target="#pills-profile"
                            type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Futuros
                            turnos</button>
                    </li>
                </ul>
                <div class="container mt-5 px-4 turnos pt-4 mb-5 overflow-auto altura">



                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="mesCurso">

                            <div class="turno" th:each="turnom : ${turnosMes}">

                                <div class="especialidad-icon">
                                    <img class="icono"
                                        th:src="${turnom.especialidad.nombreImagen != null} ? @{/img/__${turnom.especialidad.nombreImagen}__} : @{/img/Agregar.svg}"
                                        alt="" />
                                </div>

                                <div class="info">
                                    <p class="especialidad" th:text="${turnom.especialidad.nombre}"></p>
                                    <p class="medico" th:text="${turnom.medico}"></p>
                                    <p class="direccion" th:text="${turnom.lugar}"></p>
                                </div>

                                <div class="time">
                                    <p class="dia" th:text="${turnom.fecha}"></p>
                                    <p class="hora " th:text="|${turnom.hora} Hrs|"></p>
                                </div>

                                <div class="botones">

                                    <div>
                                        <a href="" class="editar" data-bs-toggle="modal"
                                            th:attr="data-bs-target=|#editar${turnom.id}|"><i
                                                class="fas fa-edit"></i></a>
                                    </div>
                                    <div>
                                        <a href="" class="eliminar" data-bs-toggle="modal"
                                            th:attr="data-bs-target=|#baja${turnom.id}|"><i
                                                class="far fa-trash-alt"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="mesProximo">


                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="mesProximo">

                            <div class="turno" th:each="turnof : ${turnosFuturo}">
                            
                                <div class="especialidad-icon">
                                    <img class="icono"
                                        th:src="${turnof.especialidad.nombreImagen != null} ? @{/img/__${turnof.especialidad.nombreImagen}__} : @{/img/Agregar.svg}"
                                        alt="" />
                                </div>
                            
                                <div class="info">
                                    <p class="especialidad" th:text="${turnof.especialidad.nombre}"></p>
                                    <p class="medico" th:text="${turnof.medico}"></p>
                                    <p class="direccion" th:text="${turnof.lugar}"></p>
                                </div>
                            
                                <div class="time">
                                    <p class="dia" th:text="${turnof.fecha}"></p>
                                    <p class="hora " th:text="|${turnof.hora} Hrs|"></p>
                                </div>
                            
                                <div class="botones">
                            
                                    <div>
                                        <a href="" class="editar" data-bs-toggle="modal" th:attr="data-bs-target=|#editar${turnof.id}|"><i
                                                class="fas fa-edit"></i></a>
                                    </div>
                                    <div>
                                        <a href="" class="eliminar" data-bs-toggle="modal" th:attr="data-bs-target=|#baja${turnof.id}|"><i
                                                class="far fa-trash-alt"></i></a>
                                    </div>
                            
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- modales -->

    <!-- Modal agendar turno -->

    <div class="modal fade " id="agendarTurno" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-fullscreen modal-dialog-scrollable ">
            <div class="modal-content fondomodal">
                <div class="modal-header">
                    <h3 class="modal-title col-11 text-center" id="exampleModalLabel">Agendar Turno</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6 d-none d-xl-block">
                                <img th:src="@{/img/routine-health-checkup.png}" alt="" class="img-fluid ">
                            </div>
                            <div class="col-12 col-xl-6 align-self-center">

                                <form class="needs-validation" th:action="@{/agenda/guardar}" method="POST" novalidate>
                                    <div class="row g-5">

                                        <div class="col-12 col-md-6">
                                            <div class="form-floating">
                                                <input required type="date" class="form-control border border-secondary"
                                                    id="fecha" placeholder="fecha" name="fecha">
                                                <label for="fecha">Fecha del turno</label>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <div class="form-floating">
                                                <input required type="time" class="form-control border border-secondary"
                                                    id="horario" placeholder="horario" name="hora">
                                                <label for="horario">Horario</label>
                                            </div>
                                        </div>




                                        <div class="col-12 col-md-6">
                                            <div class="form-floating">
                                                <input required type="text" class="form-control border border-secondary"
                                                    id="medico" placeholder="medico" name="medico">
                                                <label for="medico">Médico</label>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <div class="form-floating">
                                                <input required type="text" class="form-control border border-secondary"
                                                    id="locacion" placeholder="locacion" name="lugar">
                                                <label for="locacion">Locacion</label>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-floating">
                                                <select required aria-label="Elegir especialidad" class="form-select"
                                                    id="especialidad" name="idEspecialidad">
                                                    <option selected value="">Seleccionar</option>
                                                    <option th:each="especialidad : ${especialidades}"
                                                        th:text="|${especialidad.nombre}|" th:if="${especialidad.alta}"
                                                        th:value="${especialidad.id}">
                                                    </option>
                                                </select>
                                                <label for="especialidad">Especialidades:</label>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <button type="submit" class="btn btn-lg ms-1 reg">Guardar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- Modales para turnos del mes -->

    <!-- Modale para editar -->
    <div th:each="turnom : ${turnosMes}">

        <div class="modal fade " th:attr="id=|editar${turnom.id}|" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog  modal-fullscreen modal-dialog-scrollable ">
                <div class="modal-content fondomodal">
                    <div class="modal-header">
                        <h3 class="modal-title col-11 text-center" id="exampleModalLabel">Editar turno</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
                    </div>
                    <div class="modal-body ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6 d-none d-xl-block">
                                    <img th:src="@{/img/routine-health-checkup.png}" alt="" class="img-fluid ">
                                </div>
                                <div class="col-12 col-xl-6 align-self-center">

                                    <form class="needs-validation" th:action="@{/agenda/modificar}" method="POST"
                                        novalidate>
                                        <div class="row g-5">

                                            <div class="col-12 col-md-6">
                                                <div class="form-floating">
                                                    <input required type="date"
                                                        class="form-control border border-secondary" id="fecha"
                                                        placeholder="fecha" name="fecha" th:value="${turnom.fecha}">
                                                    <label for="fecha">Fecha del turno</label>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="form-floating">
                                                    <input required type="time"
                                                        class="form-control border border-secondary" id="horario"
                                                        placeholder="horario" name="hora" th:value="${turnom.hora}">
                                                    <label for="horario">Horario</label>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="form-floating">
                                                    <input required type="text"
                                                        class="form-control border border-secondary" id="medico"
                                                        placeholder="medico" name="medico" th:value="${turnom.medico}">
                                                    <label for="medico">Médico</label>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="form-floating">
                                                    <input required type="text"
                                                        class="form-control border border-secondary" id="locacion"
                                                        placeholder="locacion" name="lugar" th:value="${turnom.lugar}">
                                                    <label for="locacion">Locacion</label>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <select required aria-label="Elegir especialidad"
                                                        class="form-select" id="especialidad" name="idEspecialidad">
                                                        <option selected th:value="${turnom.especialidad.id}" th:text="${turnom.especialidad.nombre}"></option>
                                                        <option th:each="especialidad : ${especialidades}"
                                                            th:text="|${especialidad.nombre}|"
                                                            th:if="${especialidad.alta}" th:value="${especialidad.id}">
                                                        </option>
                                                    </select>
                                                    <label for="especialidad">Especialidades:</label>
                                                </div>
                                            </div>

                                            <input type="hidden" th:value="${turnom.id}" name="idAgenda">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-lg ms-1 reg">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

                <div class="modal fade " th:attr="id=|baja${turnom.id}|" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title col-11 text-center" id="exampleModalLabel">Eliminar turno</h3>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
                            </div>
                            <div class="modal-body ">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 align-self-center">
                
                                            <form class="needs-validation" th:action="@{/agenda/baja}" method="POST" novalidate>
                                                <div class="row g-5">
                                                    <input type="hidden" th:value="${turnom.id}" name="idAgenda">

                                                    <div class="col-12 text-center">
                                           <button type="submit" class="btn btn-lg ms-1 reg">Confirmar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                
                        </div>
                    </div>
                </div>

    </div>

    <!-- Modales para turnos futuros -->

    <!-- Modal para editar -->
    <div th:each="turnof : ${turnosFuturo}">

        <div class="modal fade " th:attr="id=|editar${turnof.id}|" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog  modal-fullscreen modal-dialog-scrollable ">
                <div class="modal-content fondomodal">
                    <div class="modal-header">
                        <h3 class="modal-title col-11 text-center" id="exampleModalLabel">Editar turno</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
                    </div>
                    <div class="modal-body ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6 d-none d-xl-block">
                                    <img th:src="@{/img/routine-health-checkup.png}" alt="" class="img-fluid ">
                                </div>
                                <div class="col-12 col-xl-6 align-self-center">

                                    <form class="needs-validation" th:action="@{/agenda/modificar}" method="POST"
                                        novalidate>
                                        <div class="row g-5">

                                            <div class="col-12 col-md-6">
                                                <div class="form-floating">
                                                    <input required type="date"
                                                        class="form-control border border-secondary" id="fecha"
                                                        placeholder="fecha" name="fecha" th:value="${turnof.fecha}">
                                                    <label for="fecha">Fecha del turno</label>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="form-floating">
                                                    <input required type="time"
                                                        class="form-control border border-secondary" id="horario"
                                                        placeholder="horario" name="hora" th:value="${turnof.hora}">
                                                    <label for="horario">Horario</label>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="form-floating">
                                                    <input required type="text"
                                                        class="form-control border border-secondary" id="medico"
                                                        placeholder="medico" name="medico" th:value="${turnof.medico}">
                                                    <label for="medico">Médico</label>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="form-floating">
                                                    <input required type="text"
                                                        class="form-control border border-secondary" id="locacion"
                                                        placeholder="locacion" name="lugar" th:value="${turnof.lugar}">
                                                    <label for="locacion">Locacion</label>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <select required aria-label="Elegir especialidad"
                                                        class="form-select" id="especialidad" name="idEspecialidad">
                                                        <option selected th:value="${turnof.especialidad.id}" th:text="${turnof.especialidad.nombre}"></option>
                                                        <option th:each="especialidad : ${especialidades}"
                                                            th:text="|${especialidad.nombre}|"
                                                            th:if="${especialidad.alta}" th:value="${especialidad.id}">
                                                        </option>
                                                    </select>
                                                    <label for="especialidad">Especialidades:</label>
                                                </div>
                                            </div>
                                            <input type="hidden" th:value="${turnof.id}" name="idAgenda">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-lg ms-1 reg">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade " th:attr="id=|baja${turnof.id}|" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title col-11 text-center" id="exampleModalLabel">Eliminar turno</h3>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
                    </div>
                    <div class="modal-body ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 align-self-center">

                                    <form class="needs-validation" th:action="@{/agenda/baja}" method="POST" novalidate>
                                        <div class="row g-5">
                                            <input type="hidden" th:value="${turnof.id}" name="idAgenda">
                                            <div class="col-12 text-center">
                                                <button type="submit" class="btn btn-lg ms-1 reg">Confirmar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <!--Footer-->
    <footer th:replace="fragmentos :: footer"></footer>

    <!-- Modal cambio de correo -->
    <div th:replace="fragmentos :: modificarCorreo"></div>

    <!-- Modal modificar contraseña -->

    <div th:replace="fragmentos :: modificarContraseña"></div>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>

    <script th:src="@{/js/calendario.js}"></script>



</body>

</html>